/* Panel buttons */
.panel-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.panel-button:pressed{
}

.panel-button:hover{

}

.cross-button{
    -fx-background-color: #ff6666;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.cross-button:hover{
    -fx-effect: innershadow( gaussian, rgba( 255, 255, 255, 0.10), 100, 1, 0, 0 );
}

.check-button{
    -fx-background-color: #2eb82e;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.check-button:hover{
    -fx-effect: innershadow( gaussian, rgba( 255, 255, 255, 0.10), 100, 1, 0, 0 );
}

/*--------------------- Background colors-----------------------*/

.mainPage{
    -fx-background-color: white;

}

.panels{
    -fx-background-color: #ECF9E7;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.5, 0.0, 0.0);
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.red-components{
    -fx-background-color: #D7B29D;

}



