/* Panel buttons */
.panel-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.panel-button:pressed{
}

.panel-button:hover{

}

.cross-button{
    -fx-background-color: #ff6666;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.cross-button:hover{
    -fx-effect: innershadow( gaussian, rgba( 255, 255, 255, 0.10), 100, 1, 0, 0 );
}

.check-button{
    -fx-background-color: #2eb82e;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.check-button:hover{
    -fx-effect: innershadow( gaussian, rgba( 255, 255, 255, 0.10), 100, 1, 0, 0 );
}